In [1]:
import pandas as pd
import requests
import json

In [2]:
client_id='46ca3fbfd5984ba8aa6a39cc165e43d1'

client_secret='621C7e8e3bdf41bC99095408AD1878F4'

In [3]:
pcolectivos_feed_gtfs = "https://apitransporte.buenosaires.gob.ar/colectivos/feed-gtfs"
#pcolectivos_metadata = "https://apitransporte.buenosaires.gob.ar/colectivos/feed-gtfs/metadata"
pcolectivos_vehicleposition = "https://apitransporte.buenosaires.gob.ar/colectivos/vehiclePositions"
pcolectivos_vehiclepositionsimple = "https://apitransporte.buenosaires.gob.ar/colectivos/vehiclePositionsSimple"
pcolectivos_tripUpdates = "https://apitransporte.buenosaires.gob.ar/colectivos/tripUpdates"
#pcolectivos_forecastgtfs = "https://apitransporte.buenosaires.gob.ar/colectivos/forecastGTFS"
pcolectivos_serviceAlerts = "https://apitransporte.buenosaires.gob.ar/colectivos/serviceAlerts"

In [4]:
params = {'client_id': client_id,
          'client_secret': client_secret,
          }

In [5]:
response = requests.get(pcolectivos_feed_gtfs, params=params)

In [8]:
feed_gtfs_binary = response.content

In [12]:
type(feed_gtfs_binary)

bytes

In [ ]:
# Abrir el archivo en modo de escritura de bytes
with open('../Data/feed_gtfs.bin', 'wb') as archivo:
    # Escribir los datos en el archivo
    archivo.write(response.content)

In [5]:
with open('../../Data/feed_gtfs.bin', 'rb') as archivo:
    # Escribir los datos en el archivo
    feed_gtfs_binary = archivo.read()

In [6]:
import zipfile, io
feed_gtfs = zipfile.ZipFile(io.BytesIO(feed_gtfs_binary))

In [11]:
type(feed_gtfs)

zipfile.ZipFile

In [15]:
feed_gtfs.namelist()

['agency.txt',
 'calendar_dates.txt',
 'routes.txt',
 'shapes.txt',
 'stops.txt',
 'stop_times.txt',
 'trips.txt']

In [16]:
feed_gtfs.extractall('..././Data/feed_gtfs')

# 0. Descripción GTFS Static

## 1. Agency

In [29]:
agency = pd.read_csv(feed_gtfs.open('agency.txt'))
agency.head(3)

,agency_id,agency_name,agency_url,agency_timezone,agency_lang,agency_phone
0,82,MICROOMNIBUS SAAVEDRA S.A.T.A.C.I.,https://www.argentina.gob.ar/cnrt,America/Argentina/Buenos_Aires,ES,NaN
1,14,TRANSP. AUTOMOTORES 12 DE OCTUBRE S.A.C.,https://www.argentina.gob.ar/cnrt,America/Argentina/Buenos_Aires,ES,NaN
2,20,EMPRESA TANDILENSE S.A.C.I.F.I.Y DE S.,https://www.argentina.gob.ar/cnrt,America/Argentina/Buenos_Aires,ES,NaN

## 2. Calendar Dates

In [28]:
calendar_dates = pd.read_csv(feed_gtfs.open('calendar_dates.txt'))
calendar_dates.head(3)

  service_id      date  exception_type
0          8  20231227               1
1          5  20231228               1
2          8  20231228               1

## 3. Routes

In [30]:
routes = pd.read_csv(feed_gtfs.open('routes.txt'))
routes.head(3)

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type
0,1502,110,505R3,JMALBR505,Ramal 3 - San Francisco Solano - Est. Burzaco ...,3
1,1503,110,505R3,JMALBR505,Ramal 3 - San Francisco Solano - Est. Burzaco ...,3
2,1504,110,505R4,JMALBR505,Ramal 4 - San Francisco Solano - Est. Adrogue:...,3

## 4. Shapes

In [31]:
shapes = pd.read_csv(feed_gtfs.open('shapes.txt'))
shapes.head(3)

,shape_id,shape_pt_lat,shape_pt_lon,shape_pt_sequence,shape_dist_traveled
0,100,-34.608635,-58.368637,314,20385.8
1,100,-34.608755,-58.368725,315,20401.3
2,100,-34.608842,-58.368810,316,20413.7

## 5. Stop Times

In [32]:
stop_times = pd.read_csv(feed_gtfs.open('stop_times.txt'))
stop_times.head(3)

C:\Users\Nimble Gravity\AppData\Local\Temp\ipykernel_30456\2872887646.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  stop_times = pd.read_csv(feed_gtfs.open('stop_times.txt'))

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,timepoint,shape_dist_traveled
0,1-1,00:00:00,00:00:00,67602759,1,1,0
1,1-1,00:00:32,00:00:32,67602394,2,0,152
2,1-1,00:02:12,00:02:12,67602332,3,0,608

In [35]:
stop_times.shape

(27054228, 7)

## 6. Stops

In [33]:
stops = pd.read_csv(feed_gtfs.open('stops.txt'))
stops.head(3)

     stop_id  stop_code          stop_name   stop_lat   stop_lon
0  620211018  620211018  Cabecera Pilar II -41.189470 -71.340458
1  620211101  620211101  Cabecera Pilar II -41.189468 -71.340458
2  620211017  620211017  Acceso Dos Valles -41.184970 -71.344160

## 7. Trips

In [34]:
trips = pd.read_csv(feed_gtfs.open('trips.txt'))
trips.head(3)

C:\Users\Nimble Gravity\AppData\Local\Temp\ipykernel_30456\3431621410.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  trips = pd.read_csv(feed_gtfs.open('trips.txt'))

,route_id,service_id,trip_id,trip_headsign,trip_short_name,direction_id,block_id,shape_id,exceptional
0,1258,4,1-1,Ramal 13 - IDA,740G,0,740G,1258,0
1,1259,4,2-1,Ramal 13 - VUELTA,740G,1,740G,1259,0
2,1260,4,3-1,Ramal 14 - IDA,740H,0,740H,1260,0

# 2. Definición de SChema

Crear un diccionario con el siguiente formato
{'nombre_del_archivo1.txt': {'columna1':['fila0', 'fila1',...],
                             'columna2':['fila0', 'fila1, ... ],
                             ...}
 'nombre_del_archivo2.txt': {...}
 ...
}

In [19]:

import pandas as pd
dict_df = dict()
for x in feed_gtfs.namelist():
    df = pd.read_csv(feed_gtfs.open(x), nrows=10)
    dict_df.update({x: df.to_dict(orient='list')})

Prompt: Te voy a pasar un diccionario en donde los keys son el nombre de los archivos gtfs, los values son otros diccionarios donde los keys son los nombre de las columnas y las keys son listas con 10 muestras de las rows de cada columna. De esta forma te voy a mostrar que tipos de datos GTFS necesito subir a la base de datos postgres. Quiero el schema de estos datos lo saques de lo que sepas de GTFS y de no saberlo, que lo infieras de la muestra que te pasé y crees scripts de SQL para postgres que sirvan para cargarlos en una base de datos.

In [22]:
dict_df

{'agency.txt': {'agency_id': [82, 14, 20, 63, 72, 3, 4, 5, 6, 7],
  'agency_name': ['MICROOMNIBUS SAAVEDRA S.A.T.A.C.I.',
   'TRANSP. AUTOMOTORES 12 DE OCTUBRE S.A.C.',
   'EMPRESA TANDILENSE S.A.C.I.F.I.Y DE S.',
   'EL NUEVO HALCON S.A.',
   'MICRO OMNIBUS QUILMES S.A.C.I. Y F.',
   'D.O.T.A. S.A. DE TRANSPORTE AUTOMOTOR',
   'NUDO S.A.',
   'TRANSPORTES RIO GRANDE S.A.C.I.F.',
   'TRANSPORTES AUTOMOTORES CALLAO S.A.',
   'TRANSPORTES AUTOMOTORES RIACHUELO S.A.'],
  'agency_url': ['https://www.argentina.gob.ar/cnrt',
   'https://www.argentina.gob.ar/cnrt',
   'https://www.argentina.gob.ar/cnrt',
   'https://www.argentina.gob.ar/cnrt',
   'https://www.argentina.gob.ar/cnrt',
   'https://www.argentina.gob.ar/cnrt',
   'https://www.argentina.gob.ar/cnrt',
   'https://www.argentina.gob.ar/cnrt',
   'https://www.argentina.gob.ar/cnrt',
   'https://www.argentina.gob.ar/cnrt'],
  'agency_timezone': ['America/Argentina/Buenos_Aires',
   'America/Argentina/Buenos_Aires',
   'America/Argentina/Buenos_Aires',
   'America/Argentina/Buenos_Aires',
   'America/Argentina/Buenos_Aires',
   'America/Argentina/Buenos_Aires',
   'America/Argentina/Buenos_Aires',
   'America/Argentina/Buenos_Aires',
   'America/Argentina/Buenos_Aires',
   'America/Argentina/Buenos_Aires'],
  'agency_lang': ['ES', 'ES', 'ES', 'ES', 'ES', 'ES', 'ES', 'ES', 'ES', 'ES'],
  'agency_phone': [nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]},
 'calendar_dates.txt': {'service_id': [8, 5, 8, 5, 8, 6, 9, 7, 10, 11],
  'date': [20231227,
   20231228,
   20231228,
   20231229,
   20231229,
   20231230,
   20231230,
   20231231,
   20231231,
   20240101],
  'exception_type': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]},
 'routes.txt': {'route_id': [1502,
   1503,
   1504,
   1505,
   1506,
   1507,
   1508,
   1509,
   1511,
   1510],
  'agency_id': [110, 110, 110, 110, 110, 110, 110, 110, 110, 110],
  'route_short_name': ['505R3',
   '505R3',
   '505R4',
   '505R4',
   '505R5',
   '505R5',
   '505R6',
   '505R6',
   '506R1',
   '506R1'],
  'route_long_name': ['JMALBR505',
   'JMALBR505',
   'JMALBR505',
   'JMALBR505',
   'JMALBR505',
   'JMALBR505',
   'JMALBR505',
   'JMALBR505',
   'JMALBR506',
   'JMALBR506'],
  'route_desc': ['Ramal 3 - San Francisco Solano - Est. Burzaco x Vasco Nuñez de Balboa: Ramal 3 - Est. Burzaco x Vasco Nuñez de Balboa',
   'Ramal 3 - San Francisco Solano - Est. Burzaco x Vasco Nuñez de Balboa: Ramal 3 - San Francisco Solano',
   'Ramal 4 - San Francisco Solano - Est. Adrogue: Ramal 4 - Est. Adrogue',
   'Ramal 4 - San Francisco Solano - Est. Adrogue: Ramal 4 - San Francisco Solano',
   'Ramal 5 - San Francisco Solano - Est. Burzacox Leroux: Ramal 5 - Est. Burzacox Leroux',
   'Ramal 5 - San Francisco Solano - Est. Burzacox Leroux: Ramal 5 - San Francisco Solano',
   'Ramal 6 - San Francisco Solano - Est. Claypole: Ramal 6 - Est. Claypole',
   'Ramal 6 - San Francisco Solano - Est. Claypole: Ramal 6 - San Francisco Solano',
   'Ramal 1 - Est. Glew - Tapin y Larreta: Ramal 1 - Est. Glew',
   'Ramal 1 - Est. Glew - Tapin y Larreta: Ramal 1 - Tapin y Larreta'],
  'route_type': [3, 3, 3, 3, 3, 3, 3, 3, 3, 3]},
 'shapes.txt': {'shape_id': [100, 100, 100, 100, 100, 100, 100, 100, 100, 100],
  'shape_pt_lat': [-34.608635,
   -34.608755,
   -34.608842,
   -34.608945,
   -34.60903,
   -34.609137,
   -34.609235,
   -34.609315,
   -34.609375,
   -34.60943],
  'shape_pt_lon': [-58.368637,
   -58.368725,
   -58.36881,
   -58.368912,
   -58.369023,
   -58.369173,
   -58.3693,
   -58.369377,
   -58.369435,
   -58.369465],
  'shape_pt_sequence': [314, 315, 316, 317, 318, 319, 320, 321, 322, 323],
  'shape_dist_traveled': [20385.8,
   20401.3,
   20413.7,
   20428.5,
   20442.4,
   20460.5,
   20476.4,
   20487.7,
   20496.3,
   20503.0]},
 'stops.txt': {'stop_id': [620211018,
   620211101,
   620211017,
   620211102,
   620211104,
   620211015,
   620211105,
   620211014,
   620211016,
   620211103],
  'stop_code': [620211018,
   620211101,
   620211017,
   620211102,
   620211104,
   620211015,
   620211105,
   620211014,
   620211016,
   620211103],
  'stop_name': ['Cabecera Pilar II',
   'Cabecera Pilar II',
   'Acceso Dos Valles',
   'Acceso Dos Valles',
   'A. Acevedo y 15 de Febrero',
   'A. Acevedo y 15 de Febrero',
   '15 de febrero y Centinela del Bosque',
   '15 de febrero y Centinela del Bosque',
   'Acceso a Pilar II y Angélica Acevedo',
   'Angélica Acevedo y Acceso a Pilar II'],
  'stop_lat': [-41.18947,
   -41.189468,
   -41.18497,
   -41.184968,
   -41.18282,
   -41.18278,
   -41.182205,
   -41.18203,
   -41.18157,
   -41.181565],
  'stop_lon': [-71.340458,
   -71.340458,
   -71.34416,
   -71.34416,
   -71.35035,
   -71.35026,
   -71.350967,
   -71.35104,
   -71.347,
   -71.347487]},
 'stop_times.txt': {'trip_id': ['1-1',
   '1-1',
   '1-1',
   '1-1',
   '1-1',
   '1-1',
   '1-1',
   '1-1',
   '1-1',
   '1-1'],
  'arrival_time': ['00:00:00',
   '00:00:32',
   '00:02:12',
   '00:03:34',
   '00:04:22',
   '00:06:46',
   '00:07:24',
   '00:07:46',
   '00:08:20',
   '00:08:52'],
  'departure_time': ['00:00:00',
   '00:00:32',
   '00:02:12',
   '00:03:34',
   '00:04:22',
   '00:06:46',
   '00:07:24',
   '00:07:46',
   '00:08:20',
   '00:08:52'],
  'stop_id': [67602759,
   67602394,
   67602332,
   67602966,
   67601684,
   67602901,
   67602937,
   67602075,
   67602679,
   67602376],
  'stop_sequence': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
  'timepoint': [1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
  'shape_dist_traveled': [0,
   152,
   608,
   988,
   1205,
   1863,
   2035,
   2144,
   2292,
   2442]},
 'trips.txt': {'route_id': [1258,
   1259,
   1260,
   1261,
   1262,
   1263,
   1264,
   1265,
   1266,
   1267],
  'service_id': [4, 4, 4, 4, 4, 4, 4, 4, 4, 4],
  'trip_id': ['1-1',
   '2-1',
   '3-1',
   '4-1',
   '5-1',
   '6-1',
   '7-1',
   '8-1',
   '9-1',
   '10-1'],
  'trip_headsign': ['Ramal 13 - IDA',
   'Ramal 13 - VUELTA',
   'Ramal 14 - IDA',
   'Ramal 14 - VUELTA',
   'Ramal 17 - IDA',
   'Ramal 17 - VUELTA',
   'Ramal 21 - IDA',
   'Ramal 21 - VUELTA',
   'Ramal 49 - IDA',
   'Ramal 54 - IDA'],
  'trip_short_name': ['740G',
   '740G',
   '740H',
   '740H',
   '740I',
   '740I',
   '740J',
   '740J',
   '740K',
   '740L'],
  'direction_id': [0, 1, 0, 1, 0, 1, 0, 1, 0, 0],
  'block_id': ['740G',
   '740G',
   '740H',
   '740H',
   '740I',
   '740I',
   '740J',
   '740J',
   '740K',
   '740L'],
  'shape_id': [1258, 1259, 1260, 1261, 1262, 1263, 1264, 1265, 1266, 1267],
  'exceptional': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]}}